@charset "utf-8";
@media (min-width: 1200px) {
	/*.span3 {width: 270px;}*/
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media (max-width: 979px) {
  body {padding-top:0;}
}
@media (min-width: 768px) and (max-width: 979px) {
	/*body{background-color:red}*/
	.x-row .span3 { width:220px; min-width:220px}
}
@media (max-width: 767px) {
  	.x-row .span3 { width:220px; min-width:220px}
  	.x-tab-nav{ height:auto; border:1px solid #DDD; border-radius:4px; margin:0 5px}
	.x-tab-nav li{ display:block; margin-left:0; text-align:left; float:none;}
	.x-tab-nav .x-tab-nav-active a{background-color:#0088cc; color:#FFF; border:none; border-radius:0;}
}
@media (max-width: 480px) {
	/*html{ overflow-y:auto;}*/
	.x-row{ display:block;}
	.x-row .span3 {display:none;}
	.x-row .span9{ width:100%;}
	.btn-navbar{ display:block;}
	.x-tab-nav{ border-radius:0px; margin:0;}
	.x-tab-nav li{ display:none;}
	.x-tab-nav .x-tab-nav-active{ width:100%; display:block; margin-left:0;}
	.x-tab-nav .x-tab-nav-active a{ padding:.1em 0; background: -webkit-linear-gradient(top, #f0f0f0,#dfdfdf); color:#777; border:none; border-bottom: 1px solid #D4D4D4; border-radius:0px;}
}